{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_form_row, render_field %}
{% from 'bootstrap5/nav.html' import render_nav_item %}

{% block title %}
Dysathria Analyzer
{% endblock %}


{% block content %}

<!--
	TIPS about using Bootstrap-Flask:
	https://github.com/helloflask/bootstrap-flask
	https://bootstrap-flask.readthedocs.io/
-->


<div class="container container__100-resp form_page px-4 py-5">
    <h1 class="text-center">LMU Speech Analyzer</h1>
    <p>
      Der LMU Speech Analyzer ist eine Webanwendung, die entwickelt wurde,
        um Sprache zu analysieren und detaillierte Einblicke in die Nutzung von Wörtern,
        Satzstrukturen und Sprachmustern zu bieten. Sie bietet Benutzern
        nützliche Informationen zur Verbesserung ihrer Sprechfähigkeiten und
        Kommunikationseffizienz. Ideal für Pädagogen, Sprachtherapeuten und alle, die
        ihre sprachlichen Fähigkeiten verbessern möchten.
    </p>
    <br>
    {% if error_statement %}
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
      <strong>Holy guacamole🥑</strong> {{ error_statement }} Wenn du Hilfe brauchst kontaktiere
      <a class="link-slider" href="mailto:vorname.nachname@med.uni-muenchen.de"><strong>Alexander Jäck</strong></a>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <form class="row g-3 needs-validation" method="POST" action="/speech-analysis" novalidate>
    {{ form.csrf_token }}
    {{ render_field(form.file) }}
    {{ render_form_row([form.submit], row_class="text-center") }}
    </form>
</div>


{% endblock %}