{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_form_row, render_field %}
{% from 'bootstrap5/nav.html' import render_nav_item %}

{% block title %}
Dysathria Analyzer
{% endblock %}

{% block content %}

<!--
	TIPS about using Bootstrap-Flask:
	https://github.com/helloflask/bootstrap-flask
	https://bootstrap-flask.readthedocs.io/
-->


  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show text-md-center position-absolute top-20 start-50 translate-middle" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

<div class="container container__100-resp form_page px-4 py-5">
    <h1 class="text-center">LMU Speech Analyzer</h1>
    <p>
      Der LMU Speech Analyzer ist eine Webanwendung, die entwickelt wurde,
        um Sprache zu analysieren und detaillierte Einblicke in die Nutzung von Wörtern,
        Satzstrukturen und Sprachmustern zu bieten. Sie bietet Benutzern
        nützliche Informationen zur Verbesserung ihrer Sprechfähigkeiten und
        Kommunikationseffizienz. Ideal für Pädagogen, Sprachtherapeuten und alle, die
        ihre sprachlichen Fähigkeiten verbessern möchten.
    </p>
    <br>
    <form method="POST" action="/speech-analysis" enctype="multipart/form-data" id="uploadForm">
        {{ form.csrf_token }}
        {{ render_field(form.file) }}
        {{ render_field(form.transcription_choice) }}
       <div class="text-center">
            <button type="submit" class="btn btn-primary" id="submitBtn">Starte Transkription</button>
        </div>
        <div class="d-flex justify-content-center m-3">
          <div id="loadingSpinner" class="spinner-border text-primary" role="status" style="display: none;">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
    </form>
    {% if transcription %}
        <h2>Dein Ergebnis</h2>
        {% for key, value in transcription.items() %}
            <h3>{{ key }} Transcription</h3>
            <p>{{ value }}</p>
        {% endfor %}
    {% endif %}
</div>
<script>
    document.getElementById('uploadForm').addEventListener('submit', function() {
        document.getElementById('submitBtn').disabled = true;
        document.getElementById('loadingSpinner').style.display = 'inline-block';

    });
</script>
{% endblock %}